<div main-app>
    <h1>Účetní jednotky - data MFČR a propojení na další data</h1>
    <p>
		Tato webová aplikace umožňuje uživatelům zobrazovat jak jednotlivé skupiny údajů z IISSP, tak i související údaje z dalších datových zdrojů na základě vytvořených propojení. Aplikace slouží jako demonstrace toho, že s vytvořenými otevřenými daty z IISSP propojenými na související data VS mohou 3. strany pohodlně pracovat a budovat nad nimi vlastní aplikace. 
		Webová aplikace vznikla v rámci řešení projektu <a href="https://opendata.vse.cz/tacr/mf/index.html">TD020277 Otevřená propojitelná data v oblasti veřejných rozpočtů</a>, který je spolufinancován <a href="http://tacr.cz/">Technologickou agenturou České republiky</a> a <a href="http://motejl.cz/">Fondem Otakara Motejla</a>.
    </p>
</div>