<div main-app>
    <h1>Účetní jednotky - data MFČR a propojení na další data</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius vitae neque lobortis ullamcorper. Suspendisse massa est, pellentesque id sodales nec, pharetra quis urna. Nam nec lectus convallis, vestibulum nisl et, pulvinar tellus. Nunc sed turpis purus. Nulla laoreet elit rutrum iaculis varius. In ornare odio diam, eget tincidunt lacus tincidunt id. Mauris consequat, sem vitae consequat pharetra, ligula eros lobortis enim, eu scelerisque est urna quis enim. Proin lacus sapien, porta a eros id, varius semper augue. Praesent blandit semper enim, cursus consectetur purus feugiat ac.
    </p>
</div>