<div class="row justinian-footer">
    <!--<div class="col-sm-4 text-left">
        <p>&copy; 2015</p>
    </div>-->
    <div class="text-center">
        <p>Projekt <a href="https://opendata.vse.cz/tacr/mf/index.html">Otevřená propojitelná data v oblasti veřejných rozpočtů (TD020277)</a> je spolufinancován <a href="http://tacr.cz/">Technologickou agenturou České republiky</a>. Projekt také podpořil <a href="http://motejl.cz/">Fond Otakara Motejla.</a></p>
		<a href="http://tacr.cz/"><img src="/assets/uj/img/logo_TACR_doplnkove_cerna.jpg" alt="Technologická agentura České Republiky"/></a>
		<a href="http://motejl.cz/"><img src="/assets/uj/img/motejl-logo.png" alt="Fond Otakara Motejla"/></a>
    </div>
	
    <!--<div class="col-sm-4 text-right">
        <p><a click application="home">Domů</a></p>
    </div>-->
</div>