<div ng-controller="UradovnyController" sidebar-app heading="Úřadovny">

    <div ng-hide="isLoading || isEmpty()">
		<div ng-repeat="uradovna in uradovny">
			<h5>{{ uradovna.address }}</h5>
			<ul>
				<li>Výtah: {{ uradovna.stavebniObjekt[0].vybaveniVytahem[0].prefLabel }}</li>
				<li ng-hide="uradovna.stavebniObjekt[0].pocetPodlazi == 0">{{ uradovna.stavebniObjekt[0].pocetPodlazi }} podlaží</li>
			</ul>
			<a class="btn btn-primary" click module="uj" application="uradovny-main" resource="{{ resource }}">Detaily</a>
		</div>
	</div>

	<div ng-hide="isLoading || !isEmpty()">Nejsou známy</div>

    <div ng-show="isLoading" spinner-bar></div>
</div>