<div ng-controller="SeznamSmluvController" sidebar-app heading="Smlouvy">

     <table class="table" ng-hide="isLoading || isEmpty()">
        <tr>
            <th>Notation</th>
            <th>PriceVAT</th>
        </tr>
        <tr ng-repeat="smlouva in smlouvy | orderBy: predicate : reverse">
            <td nowrap><a click module="uj" application="smlouva-detail" resource="{{ smlouva['@id'] }}">{{ smlouva['notation'] }}</a></td>
            <td nowrap>{{ smlouva['price'][0].currencyValue }}</td>
        </tr>
    </table>

	<div datapager source="datasource" target="smlouvy" items-per-page="10" hide-controls="isLoading || isEmpty()"></div> 

	<div ng-show="!isLoading && isEmpty()">Nejsou známy</div>

    <div ng-show="isLoading" spinner-bar></div>
</div>