<div ng-controller="SeznamSmluvController" sidebar-app heading="Smlouvy">

	 <div ng-repeat="smlouva in smlouvy">
		<h5><a href="{{smlouva['@id']}}" target="_blank">{{ smlouva.subject }}</a></h5>
		<dl>
			<dt>Částka</dt>
            <dd>{{ smlouva.price[0].currencyValue}} Kč</dd>
		</dl>
    </div>

	<div datapager source="datasource" target="smlouvy" items-per-page="2" hide-controls="isLoading || isEmpty()"></div> 

	<div ng-show="!isLoading && isEmpty()">Nejsou známy</div>

    <div ng-show="isLoading" spinner-bar></div>
</div>