<div ng-controller="ProjektyEsfController" sidebar-app heading="Projekty ESF">

	 <div ng-repeat="projekt in projekty">
		<h5><a href="http://internal.opendata.cz:8890/describe/?url={{projekt['@id']}}" target="_blank">{{ projekt['title'] }}</a></h5>
		<dl>
			<dt>Proplaceno</dt>
            <dd>{{ projekt['totalAmountPaid']}} Kč</dd>
			<dt>Alokováno</dt>
            <dd>{{ projekt['allocatedPayment']}} Kč</dd>
			<dt>Datum alokace</dt>
            <dd>{{ projekt['allocationDate'].substring(0, 10)}}</dd>
		</dl>
    </div>

	<div ng-show="!isLoading && isEmpty()">Žádné projekty</div>
	
	<div datapager source="datasource" target="projekty" items-per-page="2" hide-controls="isLoading || isEmpty()"></div> 

    <div ng-show="isLoading" spinner-bar></div>
</div>