<div ng-controller="UcetniJednotkaController" main-app>
	<div app-bar>
        <div class="navbar-brand">
            Účetní jednotka <a target="_blank" href="http://internal.opendata.cz:8890/describe/?url={{ucetniJednotka['@id']}}">{{ucetniJednotka.prefLabel}}</a>
        </div>
    </div>

    <div ng-hide="isLoading">
        <h3>Adresa</h3>
		<p>{{ucetniJednotka.adresa}}</p>
		<ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.events">
			<ui-gmap-marker coords="marker.coords" idkey="marker.id" options="marker.options">
			</ui-gmap-marker>
		</ui-gmap-google-map>
        <br/>
		<dl>
			<dt>Druh účetní jednotky</dt>
            <dd ng-repeat="d in ucetniJednotka.druh">
                <a click type="mfcr:DruhUcetniJednotky" resource="{{d['@id']}}">{{d.prefLabel | join}}</a>
            </dd>
			<dt>Poddruh účetní jednotky</dt>
            <dd ng-repeat="pd in ucetniJednotka.poddruh">
                <a click type="mfcr:PoddruhUcetniJednotky" resource="{{pd['@id']}}">{{pd.prefLabel | join}}</a>
            </dd>
		</dl>
		<h3>Vybrané ukazatele</h3>
		<ul>
			<li><a click module="uj" application="un" resource="{{ucetniJednotka['@id']}}">Základní ukazatele - příjmy, výdaje, celkem zakázky, celkem smlouvy</a></li>
			<li><a click module="uj" application="u01" resource="{{ucetniJednotka['@id']}}">Podíl výdajů na veřejné zakázky na (konsolidovaných) výdajích</a></li>
			<li><a click module="uj" application="u02" resource="{{ucetniJednotka['@id']}}">Podíl EU dotací na (konsolidovaných) příjmech</a></li>
			<li><a click module="uj" application="u04" resource="{{ucetniJednotka['@id']}}">Poměr výdajů na školy a školská zařízení na počtu obyvatel vybraného území podle věkové kategorie v okrese {{ucetniJednotka.okres[0].prefLabel}}</a></li>
			<li><a click module="uj" application="u08" resource="{{ucetniJednotka['@id']}}">Výdaje základních škol (učilišť, středních odborných škol, gymnázií, mateřských škol) přepočtené na 1 obyvatele v okrese {{ucetniJednotka.okres[0].prefLabel}}</a></li>
			<li><a click module="uj" application="u09" resource="{{ucetniJednotka['@id']}}">Výdaje organizací dětí a mládeže v okresech/krajích ČR přepočtené na 1 obyvatele v okrese {{ucetniJednotka.okres[0].prefLabel}}</a></li>
			<li><a click module="uj" application="u11" resource="{{ucetniJednotka['@id']}}">Výdaje sociálních zařízení přepočtené na 1 obyvatele v okrese {{ucetniJednotka.okres[0].prefLabel}}</a></li>
		</ul>
    </div>

    <div ng-show="isLoading" spinner-bar></div>
</div>